@import
  url('https://fonts.googleapis.com/css?family=Caveat|Karla:400,700|Rubik:400,500,700&subset=latin-ext');

$color-main: #d63031;
$color-background: #f0f3f3;
$color-text: #444444;
$color-splash: #f7f1e3;
$font-text:'Karla',
sans-serif;
$font-header:'Rubik',
sans-serif;
$transition: all 0.5s;

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}
.navigation {
  background-color: #4d4b51;
  padding: 12px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  letter-spacing: 2px;
  top:0;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin-right: 30px;
}

.navigation ul li a {
  font-family: 'Caveat',sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.navigation ul li a:hover {
  color: #878787;
}
body,
html {
  color: $color-text;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  font-family: $font-text;
  background-color:#efefef;
}

a,
a:hover {
  text-decoration: none;
  color: $color-main;
}
img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}


.splash {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url('https://i.postimg.cc/rFXmY5cW/board-cafe-coffee-cup-143640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
}
.page-intro {
  margin: auto;
  text-align: center;
}
.main-title {
  margin: 0;
  color: $color-splash;
  font-size: 48px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  padding: 0 24px;
  font-family: 'Rubik', sans-serif;
}
.main-subtitle {
  margin: 24px 0 60px 0;
  font-weight: normal;
  color: $color-splash;
  font-size: 26px;
  font-weight: bold;
  font-variant: small-caps;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
}

.btn {
  padding: 18px 24px 18px 24px;
  font-size: 16px;
  background-color: $color-main;
  color: $color-splash;
  box-shadow: 0 4px darken($color-main, 20%);
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn:hover {
  background-color: darken($color-main, 3%);
  color: $color-splash;
}


.section-title {
  padding-top:25px;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 80px 0;
  text-align: center;
  color: #4a1c4f;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
.section-title:after {
  position: absolute;
  display: block;
  content: '';
  width: 100px;
  height: 3px;
  background: $color-main;
  left: 50%;
  bottom: -10px;
  margin-left: -50px;
}
.about {
  background-color: $color-background;
}
.section-intro p {
  margin: 36px 0 0 0;
}

.about{
  padding-bottom:30px;
}

.features-wrapper {
  display: flex;
}

.feature {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
  margin: 24px 0 40px 0;
  padding-right: 15px;
}
.feature img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.feature-title {
  margin: 24px 0 0 0;
  font-family: $font-header;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
}

.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
  font-family: $font-header;
}

.btn-feature {
  margin-top: 25px;
  padding: 7px 6px;
  font-size: 16px;
  background-color: transparent;
  color: #352733;
  letter-spacing: 1px;
  border-radius: 22%;
  border: 1px dashed #352733;
  font-weight:bold;
  height:50px;
  width:110px;
}

.btn-feature:hover {
  background-color: #352733;
  color: $color-splash;
}
.statement {
  background-image: url('https://i.postimg.cc/3xP3br41/vivek-kumar-616226-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 160px;
}

.statement p {
  padding-top:38px;
  margin: 0;
  font-family:'Rubik', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight:700;
  line-height:3;
}

.quotes {
  background-color: #F1F1F1;
  padding-top:10px;
  padding-bottom: 80px;
}

.quote blockquote {
  padding: 0 20px;
}

.quote .footer {
  margin: 10px 0 0 0;
}

.quote{
  width:100%;
  text-align: center;
  font-size:20px;
  font-weight:bold;
  font-family: 'Caveat', cursive,sans-serif;
}
.column {
  float: left;
  width: 25%;
  padding: 25px 7px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  padding: 7px;
  text-align: center;
  background-color: #444;
  color: white;
}

.flickity-page-dots .dot{
  color:#4d4b51;
  width:10px;
}

.flickity-button-icon{
  color:#4d4b51;
}

.gallery{
  padding: 10px 0 30px 0;
  background-color: #AAA0A0; 
}

.gallery-wrapper{
 display: flex;
 flex-wrap: wrap;
 margin: 72px 60px 30px 60px;
}
.gallery-item{
 position: relative;
 margin: 0;
 flex: 0 0 25%;
 max-width: 25%;
 text-align: center;
}

.gallery-item img{
  display: block; 
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery-item:before {
  position: absolute;
  display: none;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#000000;
  opacity:0.4;
}

.gallery-item:hover:before, .gallery-item:hover figcaption {
  display: block;
}
.page-footer{
  padding: 12px 0;
  background-color:#4d4b51;
}

.page-footer .container {
  display: flex;
  justify-content: space-evenly;
}
.page-footer p{
  margin: 0;
  color:white;
  font-weight:bold;
  font-family: 'Caveat', sans-serif;
  font-size:25px;
}

.contact {
  text-align:center;
  background-color:#CFC3C1;
  padding-bottom:7px;
}

.social-links{
  list-style-type: none;
  padding: 0;
  display:flex;
  justify-content: center;
}
.social-links li{
  display: inline-block;
  border: 1px dashed #4d4b51;
  width:40px;
  height:40px;
  line-height:40px;
  font-size:30px;
  border-radius:30%;
  margin-right:25px;
  margin-bottom:40px;
  transition: $transition;
}
.social-links li a{
  display: block;
  width: 100%;
  height: 100%;
  color:#4d4b51; 
  text-align:center;
  transition: $transition;
}
.social-links li:hover{
  color:white;
  background-color:#4d4b51;
  border-radius:30%;
}
.social-links li a:hover{
  color:white;
  background-color:#4d4b51;
  border-radius:30%;
}

@media (max-width:640px){
 .navigation ul li {
  display:block;
}
  
  .navigation ul li a{
    float: none;
    text-align: center;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 7px;
  }
  .page-footer p{
    display: block; 
    height: 55px; 
    text-align: center; 
  }
  .main-title{
    font-size:23px;
  }
  .navigation{
    position:static;
  }
 
  .main-subtitle{
    font-size:16px;
  }
  .btn {
  padding: 16px 22px 16px 22px;
  font-size: 14px;
}
  .statement p{
    font-size:13px;
  }
}
@media (max-width:640px) and (orientation:landscape) {
  .splash{
    height:190vh;
  }
  .statement p{
    font-size:16px;
  }
  .page-footer p{
    display: block; 
    height: auto; 
    text-align: center; 
  }
  .navigation{
    position:static;
  }}

@media (max-width: 767px) {
  .quotes-wrapper{
    text-algin: center;
  }
  .features-wrapper{
    display: block;
  }
  .feature{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom:20px;
  }
  .gallery-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom:5px;
  }
  .statement p{
    font-size:19px;
  }
  .page-footer p{
    display:block;
    font-size:15px;
}
  .navigation{
    position:static;
  }
}

@media (max-width: 767px) and (orientation:landscape) {
  .splash{
    height:130vh;
  }
  .main-title{
    font-size:40px;
  }
  }


// @media (min-width: 768px) and (max-width: 991px) { 
  
// }

@media (min-width: 1200px) { 
  .container{
    max-width: 1140px;
  }
  .main-title{
    font-size:60px;
  }
  .main-subtitle{
    font-size:35px;
  }
  .btn {
  padding: 22px 28px 22px 28px;
  font-size: 20px;
}
  body,html{
    font-size: 19px;
  }
  .feature-title
  {
    font-size: 22px;
  }
  .statement p{
    font-size: 22px;
  }
}
